{{ model | json }}
<div class="container">
    <div [hidden]="submitted">
      <h1>Persona Form</h1>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
        <br>
        <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" id="gender"
                   [(ngModel)]="model.gender" name="gender">
        </div>
        <br>
        <div class="form-group">
            <label for="hair_color">Hair Color</label>
            <input type="text" class="form-control" id="hair_color"
                   [(ngModel)]="model.hairColor" name="hair_color">
        </div>
        <br>
        <div class="form-group">
            <label for="hair_length">Hair Length</label>
            <input type="text" class="form-control" id="hair_length"
                   [(ngModel)]="model.hairLength" name="hair_length">
        </div>
        <br>
        <div class="form-group">
            <label for="hair_description">Hair Description</label>
            <input type="text" class="form-control" id="hair_description"
                   [(ngModel)]="model.hairDescription" name="hair_description">
        </div>
        <br>  
        <div class="form-group">
            <label for="eye_color">Eye Color</label>
            <input type="text" class="form-control" id="eye_color"
                   [(ngModel)]="model.eyeColor" name="eye_color">
        </div>
        <br>
        <div class="form-group">
            <label for="head_shape">Head Shape</label>
            <input type="text" class="form-control" id="head_shape"
                   [(ngModel)]="model.headShape" name="head_shape">
        </div>
        <br>
        <div class="form-group">
            <label for="height">Height</label>
            <input type="text" class="form-control" id="height"
                   [(ngModel)]="model.height" name="height">
        </div>
        <br>  
        <div class="form-group">
            <label for="body_type">Body Type</label>
            <input type="text" class="form-control" id="body_type"
                   [(ngModel)]="model.bodyType" name="body_type">
        </div>
        <br>  
        
        <!-- <div class="form-group">
          <label for="power">Hero Power</label>
          <select class="form-control" id="power"
                  required
                  [(ngModel)]="model.power" name="power"
                  #power="ngModel">
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
          <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
            Power is required
          </div>
        </div> -->
        <div class="row">
            <button type="submit" class="btn btn-success" (click)="refreshPersona()" [disabled]="!heroForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newPersona(); heroForm.reset()">New Hero</button>
            <button type="submit" mat-dialog-close mat-button>Exit</button>
        </div>
    </form>
    </div>
  
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3" style="color: grey;">Name:</div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3" style="color: grey;">Gender:</div>
        <div class="col-xs-9">{{ model.gender }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3" style="color: grey;">Hair Color:</div>
        <div class="col-xs-9">{{ model.hairColor }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3" style="color: grey;">Hair Length:</div>
        <div class="col-xs-9">{{ model.hairLength }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3" style="color: grey;">Hair Description:</div>
        <div class="col-xs-9">{{ model.hairDescription }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3" style="color: grey;">Eye Color:</div>
        <div class="col-xs-9">{{ model.eyeColor }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3" style="color: grey;">Head Shape:</div>
        <div class="col-xs-9">{{ model.headShape }}</div>
      </div>
      <div class="row" >
        <div class="col-xs-3" style="color: grey;">Height:</div>
        <div class="col-xs-9">{{ model.height }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3" style="color: grey;">Body Type:</div>
        <div class="col-xs-9">{{ model.bodyType }}</div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
      <button type="submit" (click)="storePersona();refreshPersona()" mat-dialog-close mat-button>Confirm</button>
    </div>
  </div>