
<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="content" role="main">

  <!-- Next Steps -->
  <h2>Wombo Dream Website to Generate Persona Image</h2>
  <br/>
  <app-wombo-dream-link></app-wombo-dream-link>
  <br/>

  <!-- Next Steps -->
  <h2>Add A Persona</h2>
  <div class="card-container">
    <app-add-persona></app-add-persona>
  </div>

  <!-- Next Steps -->
  <div class="card-container">
    <app-personacard></app-personacard>
  </div>
  
  <!-- Footer -->
  <footer>
    <div style="height: 40px;"></div>
      Thanks for stopping by&nbsp;
  </footer>

</div>


<router-outlet></router-outlet>
