<div class="row">
    <div class="col-xs-3" style="color: grey;">Name:</div>
    <div class="col-xs-9">{{ persona.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3" style="color: grey;">Gender:</div>
    <div class="col-xs-9">{{ persona.gender }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3" style="color: grey;">Hair Color:</div>
    <div class="col-xs-9">{{ persona.hairColor }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3" style="color: grey;">Hair Length:</div>
    <div class="col-xs-9">{{ persona.hairLength }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3" style="color: grey;">Hair Description:</div>
    <div class="col-xs-9">{{ persona.hairDescription }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3" style="color: grey;">Eye Color:</div>
    <div class="col-xs-9">{{ persona.eyeColor }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3" style="color: grey;">Head Shape:</div>
    <div class="col-xs-9">{{ persona.headShape }}</div>
  </div>
  <div class="row" >
    <div class="col-xs-3" style="color: grey;">Height:</div>
    <div class="col-xs-9">{{ persona.height }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3" style="color: grey;">Body Type:</div>
    <div class="col-xs-9">{{ persona.bodyType }}</div>
  </div>
  <br>
  <button type="button" class="btn btn-primary">Edit</button> <!-- Does nothing for now-->
  <button type="submit" mat-dialog-close mat-button>Back</button>