<ng-container *ngIf="(personas|async) != null ">
    <div class="content">
    <h2>Stored Personas</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="0px">
        <div class="center" [fxFlex]="(100/5) + '%'" fxFlex.xs ="100%" fxFlex.sm="33%" *ngFor="let persona of (personas|async)" (click)="openPersonaDialog(persona)">
                <div>
                    <mat-card class="mat-elevation-z4">
                        <mat-card-header>
                            <mat-card-title>{{persona.name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="./assets/logo.png"/>
                        <mat-card-content>
                            {{persona.gender}} <!--Make this the persona description afterwards (text string sent to ai)--> 
                        </mat-card-content>
                    </mat-card>
                </div>
        </div>
    </div>
</ng-container>